<h1>Introduction of Dataset</h1>

This data set dates from 1988 and consists of four databases. It contains 76 attributes, including the predicted attribute, but all published experiments refer to using a subset of 14 of them. The "target" field refers to the presence of heart disease in the patient. It is integer valued 0 = no disease and 1 = disease.

<h1>Objective</h1>

The model is used to predict the heart disease rate in humans.

In [1]:
# Import necessary packages
import os
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("D:\\YBI Foundation\\Projects\\HeartDisease.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

<h2><i>Data Exploration</i></h2>

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [6]:
#Showing the total number of rows and columns
df.shape

(1025, 14)

<h2><i>Data Cleaning</i></h2>

In [7]:
# checking the null values in the dataset
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

<h4>Observation</h4><ul><li>There is no null value in the dataset.</ul>

In [8]:
# checking the duplicate values
df.duplicated().sum()

723

In [9]:
df= df.drop_duplicates()

In [10]:
df.duplicated().sum()

0

<h4>Observation</h4><ul><li>Checking for duplicates we see some duplicate values and remove it from the dataset.</ul>

In [11]:
# checking descriptive statistics
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,0.149007,0.526490,149.569536,0.327815,1.043046,1.397351,0.718543,2.314570,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,0.356686,0.526027,22.903527,0.470196,1.161452,0.616274,1.006748,0.613026,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

<h4>Observation</h4><ul><li>Describe function display all the descriptive statistical values of the dataset features.</ul>

In [12]:
df['target'].value_counts()

1    164
0    138
Name: target, dtype: int64

In [13]:
#Seperating the data and labels
X = df.drop(columns = 'target', axis = 1)
Y = df['target']

In [14]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [15]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
723    1
733    1
739    0
843    0
878    0
Name: target, Length: 302, dtype: int64

In [16]:
# Data standardisation
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

<h2><i>Data Preparation</i></h2>

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2,random_state = 42)

<h2><i>Data Modelling and Evaluation</i></h2>

In [18]:
# Support Vector Machine

from sklearn.svm import SVC
svc = SVC(kernel = 'linear')
svc.fit(X_train, Y_train)

SVC(kernel='linear')

In [19]:
#Finding the accuracy score on training dataset
from sklearn.metrics import accuracy_score
X_train_prediction = svc.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)*100
train_data_accuracy

86.30705394190872

In [20]:
#Finding the accuracy score on test dataset
from sklearn.metrics import accuracy_score
X_test_prediction = svc.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)*100
test_data_accuracy

77.04918032786885

In [21]:
#Predicting system
data = (62,0,0,138,294,1,1,106,0,1.9,1,3,2)
data_array = np.asarray(data)
data_reshape = data_array.reshape(1, -1)
data_standard = scaler.transform(data_reshape)
prediction = svc.predict(data_standard)
if(prediction[0] == 1):
    print('Heart Disease')
else:
    print('No Heart Disease')

No Heart Disease

In [22]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, Y_train)

LogisticRegression()

In [23]:
#Finding the accuracy score on training dataset
from sklearn.metrics import accuracy_score
X_train_prediction = lr.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)*100
train_data_accuracy

86.30705394190872

In [24]:
#Finding the accuracy score on test dataset
from sklearn.metrics import accuracy_score
X_test_prediction = lr.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)*100
test_data_accuracy

77.04918032786885

In [25]:
#Predicting system
data = (62,0,0,138,294,1,1,106,0,1.9,1,3,2)
data_array = np.asarray(data)
data_reshape = data_array.reshape(1, -1)
data_standard = scaler.transform(data_reshape)
prediction = lr.predict(data_standard)
if(prediction[0] == 1):
    print('Heart Disease')
else:
    print('No Heart Disease')

No Heart Disease

In [26]:
# Random Forest

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=12)
rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=12)

In [27]:
#Finding the accuracy score on training dataset
from sklearn.metrics import accuracy_score
X_train_prediction = rf.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)*100
train_data_accuracy

100.0

In [28]:
#Finding the accuracy score on test dataset
from sklearn.metrics import accuracy_score
X_test_prediction = rf.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)*100
test_data_accuracy

85.24590163934425

In [29]:
#Predicting system
data = (62,0,0,138,294,1,1,106,0,1.9,1,3,2)
data_array = np.asarray(data)
data_reshape = data_array.reshape(1, -1)
data_standard = scaler.transform(data_reshape)
prediction = rf.predict(data_standard)
if(prediction[0] == 1):
    print('Heart Disease')
else:
    print('No Heart Disease')

No Heart Disease

# Predicting based on Random Forest Model

In [ ]:
print("Enter the following details:")
age=int(input("Enter age "))
sex=int(input("Enter gender (0/1) "))
cp=int(input("Enter chest pain (0-4) "))
trestbps=int(input("Enter resting blood pressure "))
chol=int(input("Enter cholestoral "))
fbs=int(input("Enter fasting blood sugar "))
restecg=int(input("Enter resting electrocardiographic (0-2) "))
thalach=int(input("Enter maximum heart rate "))
exang=int(input("Enter exercise induced angina "))
oldpeak=float(input("Enter oldpeak "))
slope=int(input("Enter slope of the peak exercise "))
ca=int(input("Enter number of major vessels (0-3) "))
thal=int(input("Enter thal (0-2) "))

data = (age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal)
data_array = np.asarray(data)
data_reshape = data_array.reshape(1, -1)
data_standard = scaler.transform(data_reshape)
prediction = rf.predict(data_standard)

if(prediction[0] == 1):
    print('\nHeart Disease')
else:
    print('\nNo Heart Disease')

Enter the following details:

<h1>Conclusion</h1>

<ul><li>In the above model evaluations, we see that Random Forest model works best in the prediction of Heart Disease.<li>There is no null values in the dataset.<li>Having some duplicate values that were removed during data cleaning process.<li>The prediction model is ready to go for further advance processes.</ul>